.film-title {
  text-align: center;
  margin-top: 30px;
}

.review {
  padding: 10px;
  border: 1px solid #ccc;
  margin: 20px 40px 0 40px;
  font-size: 18px;
  line-height: 1.5;
  font-family: "Helvetica Neue", sans-serif;
  border-radius: 5px;
}

.username {
  margin-left: 20px;
  margin-right: 10px;
  color: #0077cc;
}
